.forecast-weather-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-grow: 1;
  .forecast-weather-title {
    font-size: 25px;
    font-weight: bold;
    margin: 20px 0px 10px 0px;
  }
  .forecast-weather-information {
    background-color: #ffffff;
    flex-grow: 1;
    width: 100%;
    border-radius: 20px;
    overflow: scroll;
    padding: 10px;
  }
}
