.search-history-container {
  margin: 0px auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  .search-history-bar {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    .search-input-wrapper {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      .ant-input {
        width: 100%;
      }
      .error-message {
        font-size: 14px;
        color: #ff4d4f;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        margin-top: 2px;
      }
    }
    .ant-btn {
      margin-left: 5%;
      margin-top: 3px;
    }
  }
  .search-history-list {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 24px;
    width: 100%;
    margin: 10px auto;
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    flex-grow: 1;
    .search-history-title {
      margin: 10px 0px 0px 0px;
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      margin-bottom: 10px;
      font-weight: bold;
    }
    .search-list-wrapper {
      overflow-y: scroll;
      flex-grow: 1;
      background-color: #ffffff;
      border-radius: 20px;
      box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.1)
    }
  }
}
@media screen and (min-width: 641px) {
  .search-history-container {
    width: 60%;
  }
}

@media screen and (max-width: 640px) {
  .search-history-container {
    width: 90%;
  }
}
